.slider {
  max-width: $max-width;
  width: 100%;
  padding: 0 15px 200px;
  margin: 0 auto;
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;

  &__photo {
    max-width: ($max-width - 15px)/2;
    border: 1px solid $c-yellow;
    position: relative;
  }

  &__arrow {
    position: absolute;
    top: 180px;
    transform: translateY(-50%);
    font-size: 40px;
    transition: all 0.3s ease;

      &--left {
        left: -55px;
      }

      &--right {
        right: -45px;
      }

      & a {
        @include link-styles-reset($c-yellow);
      }

      &--left:hover {
        -webkit-transform: translateX(-1px);
        transform: translateX(-1px);
      }

      &--right:hover {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
      }

  }

  &__image {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // decorative elements around the photo
  &__line {
    position: absolute;
    display: block;
    background: $c-yellow;

      &--horizontal {
        width: 100px;
        height: 1px;
      }

      &--vertical {
        width: 1px;
        height: 100px;
      }

      &--top {
        top: -15px;
      }

      &--bottom {
        bottom: -15px;
      }

      &--left {
        left: -15px;
      }

      &--right {
        right: -15px;
      }
  }

  &__decoration {
    display: block;
    position: absolute;
    top: -90px;
    left: 0;
    right: 0;
    bottom: -65px;
    width: 1px;
    height: 560px;
    margin: 0 auto;
    text-indent: -9999px;
    background: $c-yellow;
  }

  &__info {
    position: relative;
    max-width: ($max-width - 15px)/2;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    @include spaces-reset;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 0.7px;

      &::after {
        content: '';
        display: block;
        margin: 40px auto 20px;
        padding: 0;
        width: 100px;
        height: 1px;
        background: $c-yellow;
      }
  }

  &__description {
    @include spaces-reset;
    font-size: 24px;
    line-height: 36px;
  }

  &__social {
    margin: 30px 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    display: block;
    @include link-styles-reset(#cccccc);

        &:hover {
          // color: $c-yellow;
        }
  }

  &__text {
    @include spaces-reset;
    width: 420px;
    text-align: center;
    font-weight: 500;
    color: $c-grey/2;
  }

  &__decorator {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 4px;
    background: $c-yellow;
    margin: 20px 0 25px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 50%;
      height: 100%;
      background: inherit;
    }

    &::before {
      right: calc(100% + 5px);
    }

    &::after {
      left: calc(100% + 5px);
    }
  }

  &__reference {
    display: block;
    @include spaces-reset;
    @include link-styles-reset($c-grey);
    padding: 6px 12px;
    border: 1px solid $c-yellow;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    transition: background 0.3s ease-in;

      &:hover {
        background: $c-yellow;
      }
  }

  &__navigation {
    width: 100%;
    margin-top: 100px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;

      b {
        display: block;
        width: 12px;
        height: 12px;
        margin: 0 2.5px;
        background: $c-white;
        border: solid 1px $c-yellow;
        border-radius: 50%;
        transition: background 0.3s ease;

          &:first-child, &:last-child {
            background: $c-yellow;
          }

          &:hover {
            background: $c-white;
          }
      }
    }
}
