// variables
$c-white: #ffffff;
$c-grey: #666666;
$c-yellow: #ffcc00;
$max-width: 1170px;

// mixins
@mixin spaces-reset {
  margin: 0;
  padding: 0;
  }

@mixin link-styles-reset($text-color) {
  text-decoration: none;
  color: $text-color;
  pointer-events: auto;
}

// styles to all elements
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// styles to body
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $c-grey;
}

//google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Raleway:400,500|Roboto:900');

// internal sections
@import "sections/header.scss";
@import "sections/slider.scss";

// internal blocks
@import "blocks/animation.scss"
