@import url("https://fonts.googleapis.com/css?family=Open+Sans:700|Raleway:400,500|Roboto:900");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #666666; }

.header {
  margin: 0 auto;
  padding: 110px 15px 90px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .header__title {
    margin: 0;
    padding: 0;
    padding: 0 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 66px;
    text-transform: uppercase;
    color: #ffcc00; }
  .header__slogan {
    margin: 0;
    padding: 0;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #898f8f;
    order: -1; }
  .header__decoration {
    margin: 40px 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header__decoration::before, .header__decoration::after {
      content: '';
      width: 210px;
      height: 1px;
      background: #ffcc00; }
    .header__decoration::before {
      padding-left: 15px; }
    .header__decoration::after {
      padding-right: 15px; }
  .header__icon {
    padding: 0 7px;
    font-size: 20px;
    color: #ffcc00; }

.slider {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px 200px;
  margin: 0 auto;
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start; }
  .slider::before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 560px;
    top: -90px;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: -65px;
    background: #ffcc00; }
  .slider__photo {
    max-width: 577.5px;
    border: 1px solid #ffcc00;
    position: relative; }
  .slider__arrow {
    position: absolute;
    top: 170px;
    font-size: 40px;
    transition: all 0.3s ease; }
    .slider__arrow--left {
      left: -55px; }
    .slider__arrow--right {
      right: -45px; }
    .slider__arrow a {
      text-decoration: none;
      color: #ffcc00;
      pointer-events: auto; }
    .slider__arrow--left:hover {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px); }
    .slider__arrow--right:hover {
      -webkit-transform: translateX(5px);
      transform: translateX(5px); }
  .slider__image {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .slider .image__borders {
    position: absolute;
    top: -15px;
    right: -15px;
    bottom: -15px;
    left: -15px; }
    .slider .image__borders b {
      position: absolute;
      display: block;
      width: 100px;
      height: 100px;
      border-color: #ffcc00;
      border-style: solid; }
      .slider .image__borders b:nth-child(1) {
        border-width: 1px 0 0 1px; }
      .slider .image__borders b:nth-child(2) {
        right: 0;
        border-width: 1px 1px 0 0; }
      .slider .image__borders b:nth-child(3) {
        right: 0;
        bottom: 0;
        border-width: 0 1px 1px 0; }
      .slider .image__borders b:nth-child(4) {
        bottom: 0;
        border-width: 0 0 1px 1px; }
  .slider__info {
    position: relative;
    max-width: 577.5px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center; }
  .slider__name {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 0.7px; }
    .slider__name::after {
      content: '';
      display: block;
      margin: 40px auto 20px;
      padding: 0;
      width: 100px;
      height: 1px;
      background: #ffcc00; }
  .slider__description {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 36px; }
  .slider__social {
    margin: 30px 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
  .slider__link {
    display: block;
    text-decoration: none;
    color: #cccccc;
    pointer-events: auto; }
  .slider__text {
    margin: 0;
    padding: 0;
    padding: 0 15px;
    width: 450px;
    text-align: center;
    font-weight: 500;
    color: #333333; }
  .slider__decorator {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 4px;
    background: #ffcc00;
    margin: 20px 0 25px; }
    .slider__decorator::before, .slider__decorator::after {
      content: '';
      position: absolute;
      display: block;
      width: 50%;
      height: 100%;
      background: inherit; }
    .slider__decorator::before {
      right: calc(100% + 5px); }
    .slider__decorator::after {
      left: calc(100% + 5px); }
  .slider__reference {
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #666666;
    pointer-events: auto;
    padding: 6px 12px;
    border: 1px solid #ffcc00;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    transition: background 0.3s ease-in; }
    .slider__reference:hover {
      background: #ffcc00; }
  .slider__navigation {
    width: 100%;
    margin-top: 100px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center; }
    .slider__navigation b {
      display: block;
      width: 12px;
      height: 12px;
      margin: 0 2.5px;
      background: #ffffff;
      border: solid 1px #ffcc00;
      border-radius: 50%;
      transition: background 0.3s ease; }
      .slider__navigation b:first-child, .slider__navigation b:last-child {
        background: #ffcc00; }
      .slider__navigation b:hover {
        background: #ffffff; }

/*CSS ANIMATION*/
@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  30% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px); }
  40% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px); }
  50% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px); }
  65% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes swing {
  15% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  30% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px); }
  40% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px); }
  50% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px); }
  65% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
.swing:hover {
  -webkit-animation: swing 0.3s ease;
  animation: swing 0.3s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/*# sourceMappingURL=main.css.map */
